<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="WebsysServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="WebsysServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
	<section name="mimeSettings" type="WebsysServer.MimeSettings,WebsysServer">
	</section>
</configSections>
<mimeSettings>
    <mime.mapping>
        <extension>apk</extension>
        <mime.type>application/vnd.android.package-archive</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>appcache</extension>
        <mime.type>text/cache-manifest</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>application</extension>
        <mime.type>application/x-ms-application</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>asm</extension>
        <mime.type>text/x-asm</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>atom</extension>
        <mime.type>application/atom+xml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>avi</extension>
        <mime.type>video/x-msvideo</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>bin</extension>
        <mime.type>application/octet-stream</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>bmp</extension>
        <mime.type>image/bmp</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>body</extension>
        <mime.type>text/html</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>c</extension>
        <mime.type>text/x-c</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>chm</extension>
        <mime.type>application/vnd.ms-htmlhelp</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>conf</extension>
        <mime.type>text/plain</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>cpp</extension>
        <mime.type>text/x-c</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>css</extension>
        <mime.type>text/css</mime.type>
    </mime.mapping>
	<mime.mapping>
        <extension>csv</extension>
        <mime.type>text/csv</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>dmp</extension>
        <mime.type>application/vnd.tcpdump.pcap</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>doc</extension>
        <mime.type>application/msword</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>docm</extension>
        <mime.type>application/vnd.ms-word.document.macroenabled.12</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>docx</extension>
        <mime.type>application/vnd.openxmlformats-officedocument.wordprocessingml.document</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>dot</extension>
        <mime.type>application/msword</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>dotm</extension>
        <mime.type>application/vnd.ms-word.template.macroenabled.12</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>dotx</extension>
        <mime.type>application/vnd.openxmlformats-officedocument.wordprocessingml.template</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>dtb</extension>
        <mime.type>application/x-dtbook+xml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>dtd</extension>
        <mime.type>application/xml-dtd</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>dts</extension>
        <mime.type>audio/vnd.dts</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>dtshd</extension>
        <mime.type>audio/vnd.dts.hd</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>eot</extension>
        <mime.type>application/vnd.ms-fontobject</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>flv</extension>
        <mime.type>video/x-flv</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>gif</extension>
        <mime.type>image/gif</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>gz</extension>
        <mime.type>application/x-gzip</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>h</extension>
        <mime.type>text/x-c</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>h261</extension>
        <mime.type>video/h261</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>h263</extension>
        <mime.type>video/h263</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>h264</extension>
        <mime.type>video/h264</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>htm</extension>
        <mime.type>text/html</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>html</extension>
        <mime.type>text/html</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ico</extension>
        <mime.type>image/x-icon</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ics</extension>
        <mime.type>text/calendar</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ief</extension>
        <mime.type>image/ief</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ifb</extension>
        <mime.type>text/calendar</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>in</extension>
        <mime.type>text/plain</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>iso</extension>
        <mime.type>application/x-iso9660-image</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>jpe</extension>
        <mime.type>image/jpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>jpeg</extension>
        <mime.type>image/jpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>jpg</extension>
        <mime.type>image/jpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>jpgm</extension>
        <mime.type>video/jpm</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>jpgv</extension>
        <mime.type>video/jpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>jpm</extension>
        <mime.type>video/jpm</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>js</extension>
        <mime.type>application/javascript</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>jsf</extension>
        <mime.type>text/plain</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>json</extension>
        <mime.type>application/json</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>jsonml</extension>
        <mime.type>application/jsonml+json</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>jspf</extension>
        <mime.type>text/plain</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>kar</extension>
        <mime.type>audio/midi</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ktx</extension>
        <mime.type>image/ktx</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>list</extension>
        <mime.type>text/plain</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>log</extension>
        <mime.type>text/plain</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>m1v</extension>
        <mime.type>video/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>m2a</extension>
        <mime.type>audio/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>m2v</extension>
        <mime.type>video/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>m3a</extension>
        <mime.type>audio/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>m3u</extension>
        <mime.type>audio/x-mpegurl</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>m4a</extension>
        <mime.type>audio/mp4</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>m4b</extension>
        <mime.type>audio/mp4</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>m4r</extension>
        <mime.type>audio/mp4</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>m4u</extension>
        <mime.type>video/vnd.mpegurl</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>m4v</extension>
        <mime.type>video/mp4</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mac</extension>
        <mime.type>image/x-macpaint</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>man</extension>
        <mime.type>text/troff</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mar</extension>
        <mime.type>application/octet-stream</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mcurl</extension>
        <mime.type>text/vnd.curl.mcurl</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mdi</extension>
        <mime.type>image/vnd.ms-modi</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>me</extension>
        <mime.type>text/troff</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mid</extension>
        <mime.type>audio/midi</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>midi</extension>
        <mime.type>audio/midi</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mie</extension>
        <mime.type>application/x-mie</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mif</extension>
        <mime.type>application/x-mif</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mj2</extension>
        <mime.type>video/mj2</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mjp2</extension>
        <mime.type>video/mj2</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mk3d</extension>
        <mime.type>video/x-matroska</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mka</extension>
        <mime.type>audio/x-matroska</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mks</extension>
        <mime.type>video/x-matroska</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mkv</extension>
        <mime.type>video/x-matroska</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mmr</extension>
        <mime.type>image/vnd.fujixerox.edmics-mmr</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mng</extension>
        <mime.type>video/x-mng</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mov</extension>
        <mime.type>video/quicktime</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>movie</extension>
        <mime.type>video/x-sgi-movie</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mp1</extension>
        <mime.type>audio/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mp2</extension>
        <mime.type>audio/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mp2a</extension>
        <mime.type>audio/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mp3</extension>
        <mime.type>audio/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mp4</extension>
        <mime.type>video/mp4</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mp4a</extension>
        <mime.type>audio/mp4</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mp4s</extension>
        <mime.type>application/mp4</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mp4v</extension>
        <mime.type>video/mp4</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mpa</extension>
        <mime.type>audio/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mpe</extension>
        <mime.type>video/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mpeg</extension>
        <mime.type>video/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mpega</extension>
        <mime.type>audio/x-mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mpg</extension>
        <mime.type>video/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mpg4</extension>
        <mime.type>video/mp4</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mpga</extension>
        <mime.type>audio/mpeg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mpv2</extension>
        <mime.type>video/mpeg2</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ms</extension>
        <mime.type>text/troff</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>msh</extension>
        <mime.type>model/mesh</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mts</extension>
        <mime.type>model/vnd.mts</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>mxu</extension>
        <mime.type>video/vnd.mpegurl</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>n3</extension>
        <mime.type>text/n3</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>nfo</extension>
        <mime.type>text/x-nfo</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>npx</extension>
        <mime.type>image/vnd.net-fpx</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>oga</extension>
        <mime.type>audio/ogg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ogg</extension>
        <mime.type>audio/ogg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ogv</extension>
        <mime.type>video/ogg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>opml</extension>
        <mime.type>text/x-opml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>oxps</extension>
        <mime.type>application/oxps</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>p</extension>
        <mime.type>text/x-pascal</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pas</extension>
        <mime.type>text/x-pascal</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pbm</extension>
        <mime.type>image/x-portable-bitmap</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pct</extension>
        <mime.type>image/pict</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pcx</extension>
        <mime.type>image/x-pcx</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pdf</extension>
        <mime.type>application/pdf</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pgm</extension>
        <mime.type>image/x-portable-graymap</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pic</extension>
        <mime.type>image/pict</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pict</extension>
        <mime.type>image/pict</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pls</extension>
        <mime.type>audio/x-scpls</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>png</extension>
        <mime.type>image/png</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pnm</extension>
        <mime.type>image/x-portable-anymap</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pnt</extension>
        <mime.type>image/x-macpaint</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ppm</extension>
        <mime.type>image/x-portable-pixmap</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pps</extension>
        <mime.type>application/vnd.ms-powerpoint</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ppsm</extension>
        <mime.type>application/vnd.ms-powerpoint.slideshow.macroenabled.12</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ppsx</extension>
        <mime.type>application/vnd.openxmlformats-officedocument.presentationml.slideshow</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ppt</extension>
        <mime.type>application/vnd.ms-powerpoint</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pptm</extension>
        <mime.type>application/vnd.ms-powerpoint.presentation.macroenabled.12</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pptx</extension>
        <mime.type>application/vnd.openxmlformats-officedocument.presentationml.presentation</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pqa</extension>
        <mime.type>application/vnd.palm</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>psd</extension>
        <mime.type>image/vnd.adobe.photoshop</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pya</extension>
        <mime.type>audio/vnd.ms-playready.media.pya</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>pyv</extension>
        <mime.type>video/vnd.ms-playready.media.pyv</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>qt</extension>
        <mime.type>video/quicktime</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>qti</extension>
        <mime.type>image/x-quicktime</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>qtif</extension>
        <mime.type>image/x-quicktime</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ra</extension>
        <mime.type>audio/x-pn-realaudio</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ram</extension>
        <mime.type>audio/x-pn-realaudio</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ras</extension>
        <mime.type>image/x-cmu-raster</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>rgb</extension>
        <mime.type>image/x-rgb</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>rip</extension>
        <mime.type>audio/vnd.rip</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>rmi</extension>
        <mime.type>audio/midi</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>rmp</extension>
        <mime.type>audio/x-pn-realaudio-plugin</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>roff</extension>
        <mime.type>text/troff</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>rtx</extension>
        <mime.type>text/richtext</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>s</extension>
        <mime.type>text/x-asm</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>s3m</extension>
        <mime.type>audio/s3m</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>scurl</extension>
        <mime.type>text/vnd.curl.scurl</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>sfv</extension>
        <mime.type>text/x-sfv</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>sgi</extension>
        <mime.type>image/sgi</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>sgm</extension>
        <mime.type>text/sgml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>sgml</extension>
        <mime.type>text/sgml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>sid</extension>
        <mime.type>image/x-mrsid-image</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>sil</extension>
        <mime.type>audio/silk</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>smv</extension>
        <mime.type>video/x-smv</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>snd</extension>
        <mime.type>audio/basic</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>spx</extension>
        <mime.type>audio/ogg</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>sql</extension>
        <mime.type>application/x-sql</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>svg</extension>
        <mime.type>image/svg+xml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>svgz</extension>
        <mime.type>image/svg+xml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>swf</extension>
        <mime.type>application/x-shockwave-flash</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>t</extension>
        <mime.type>text/troff</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>text</extension>
        <mime.type>text/plain</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>tga</extension>
        <mime.type>image/x-tga</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>tif</extension>
        <mime.type>image/tiff</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>tiff</extension>
        <mime.type>image/tiff</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>tr</extension>
        <mime.type>text/troff</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ttf</extension>
        <mime.type>application/x-font-ttf</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ttl</extension>
        <mime.type>text/turtle</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>txt</extension>
        <mime.type>text/plain</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>ulw</extension>
        <mime.type>audio/basic</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uri</extension>
        <mime.type>text/uri-list</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uris</extension>
        <mime.type>text/uri-list</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>urls</extension>
        <mime.type>text/uri-list</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uu</extension>
        <mime.type>text/x-uuencode</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uva</extension>
        <mime.type>audio/vnd.dece.audio</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvg</extension>
        <mime.type>image/vnd.dece.graphic</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvh</extension>
        <mime.type>video/vnd.dece.hd</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvi</extension>
        <mime.type>image/vnd.dece.graphic</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvm</extension>
        <mime.type>video/vnd.dece.mobile</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvp</extension>
        <mime.type>video/vnd.dece.pd</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvs</extension>
        <mime.type>video/vnd.dece.sd</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvu</extension>
        <mime.type>video/vnd.uvvu.mp4</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvv</extension>
        <mime.type>video/vnd.dece.video</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvva</extension>
        <mime.type>audio/vnd.dece.audio</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvvg</extension>
        <mime.type>image/vnd.dece.graphic</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvvh</extension>
        <mime.type>video/vnd.dece.hd</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvvi</extension>
        <mime.type>image/vnd.dece.graphic</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvvm</extension>
        <mime.type>video/vnd.dece.mobile</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvvp</extension>
        <mime.type>video/vnd.dece.pd</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>uvvs</extension>
        <mime.type>video/vnd.dece.sd</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>viv</extension>
        <mime.type>video/vnd.vivo</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>vob</extension>
        <mime.type>video/x-ms-vob</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>vrml</extension>
        <mime.type>model/vrml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>wav</extension>
        <mime.type>audio/x-wav</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>wax</extension>
        <mime.type>audio/x-ms-wax</mime.type>
    </mime.mapping>
    <mime.mapping>
        <!-- Wireless Bitmap -->
        <extension>wbmp</extension>
        <mime.type>image/vnd.wap.wbmp</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>wdp</extension>
        <mime.type>image/vnd.ms-photo</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>weba</extension>
        <mime.type>audio/webm</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>webm</extension>
        <mime.type>video/webm</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>webp</extension>
        <mime.type>image/webp</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>wm</extension>
        <mime.type>video/x-ms-wm</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>wma</extension>
        <mime.type>audio/x-ms-wma</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>wmv</extension>
        <mime.type>video/x-ms-wmv</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>wmx</extension>
        <mime.type>video/x-ms-wmx</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>woff</extension>
        <mime.type>application/x-font-woff</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>woff2</extension>
        <mime.type>font/woff2</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>wps</extension>
        <mime.type>application/vnd.ms-works</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>xht</extension>
        <mime.type>application/xhtml+xml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>xhtml</extension>
        <mime.type>application/xhtml+xml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>xhvml</extension>
        <mime.type>application/xv+xml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>xls</extension>
        <mime.type>application/vnd.ms-excel</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>xlsx</extension>
        <mime.type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>xml</extension>
        <mime.type>application/xml</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>xps</extension>
        <mime.type>application/vnd.ms-xpsdocument</mime.type>
    </mime.mapping>
    <mime.mapping>
        <extension>zip</extension>
        <mime.type>application/zip</mime.type>
    </mime.mapping>
</mimeSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <WebsysServer.Properties.Settings>
            <setting name="HttpServerPort" serializeAs="String">
                <value>11996</value>
            </setting>
            <setting name="HttpServerIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="HttpServerApplication" serializeAs="String">
                <value>/websys/</value>
            </setting>
        </WebsysServer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <WebsysServer.Properties.Settings>
            <setting name="LogLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EvalJsTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ReqTimeOut" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HttpsServerPort" serializeAs="String">
                <value>21996</value>
            </setting>
        </WebsysServer.Properties.Settings>
    </userSettings>
</configuration>
